@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.panel {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover 100%;
    background-position: center;
    color: white;
    height: 80vh;
    margin: 10px;
    flex: 0.5;
    border-radius: 30px;
    transition: flex 1s ease-in;
}

.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.5s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width: 100vw;
    }
    
    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
}