@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --hover-width: 75%;
    --other-width: 25%;
}
* {
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    background-color: #333;
    width: 100%;
    height: 100%;
    position: relative;
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left::before{
    content: '';
    position: absolute;
    background-color: #006fff;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.split.right::before{
    content: '';
    position: absolute;
    background-color: #333;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.split.left{
    left:0px;
    background: url('ps5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right{
    right: 0px;
    background: url('xbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-left .split.right{
    width: var(--other-width);
}

.hover-left .split.left{
    width: var(--hover-width);
}

.hover-right .split.right{
    width: var(--hover-width);
}

.hover-right .split.left{
    width: var(--other-width);
}

.split.left, .split.left::before, .split.right, .split.right::before{
    transition: all .5s ease-in-out;
}

h1{
    font-size: 3em;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
}



.btn{
    position: absolute;
    top:35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 15px;;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0.5em;
    color: white;
    font-weight: bold;
    width: 15em;
    display: flex;
    justify-content: center;

}

@media(max-width: 800px) {
    h1{
        font-size: 1.5em;
    }

    .btn{
        width: 10em;
    }

}